@font-face {
	font-family: "icons";
	src: url('src/assets/fonts/icons.eot');
	src: url('src/assets/fonts/icons.eot?#iefix') format('eot'),
		url('src/assets/fonts/icons.woff2') format('woff2'),
		url('src/assets/fonts/icons.woff') format('woff'),
		url('src/assets/fonts/icons.ttf') format('truetype'),
		url('src/assets/fonts/icons.svg#icons') format('svg');
}

.icon:before {
	font-family: "icons";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-decoration: none;
	text-transform: none;
}


.icon-advantages-icon1:before {
	content: "\E001";
}

.icon-advantages-icon2:before {
	content: "\E002";
}

.icon-advantages-icon3:before {
	content: "\E003";
}

.icon-advantages-icon4:before {
	content: "\E004";
}

.icon-advantages-icon5:before {
	content: "\E005";
}

.icon-advantages-icon6:before {
	content: "\E006";
}

.icon-advantages-icon7:before {
	content: "\E007";
}

.icon-advantages-icon8:before {
	content: "\E008";
}

.icon-lets-go-icon:before {
	content: "\E009";
}
