// font-family: 'Montserrat', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap');

// font-family: 'Roboto', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: $text-size;
}


.container {
    width: 100%;
    max-width: 1336px;
    padding: 0 20px;
    margin: 0 auto;
}

.accent-button{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    padding: 11px 40px 10px 40px;
    border-radius: 3px;
    border: 2px solid $accent-color;
    background-color: transparent;
    color: $accent-color;
}


.header{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: white;
    z-index: 1;
    &__wrapper{
        padding: 20px 0px;
        display: flex;
        align-items: center;
    }
    &__navigation{
        margin-left: auto;
    }
    &__button{
        color: black;
        font-family: 'Montserrat',sans-serif;
        font-size: 16px;
        font-weight: 600;
        margin-left: 35px;
        border: 2px solid #000;
        box-sizing: border-box;
        padding: 6px 33px 5px 33px;
        border-radius: 3px;
        background-color: transparent;
    }
}

.logo{
    font-family: 'Montserrat',sans-serif;
    font-size: 18px;
    font-weight: $bold;
}

.navigation{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1;
    font-weight: 400;
    &__list{
        display: flex;
    }
    &__item{
        margin-left: 24px;
        position: relative;
        &::before{
            height: 2px;
            width: 0%;
            content: " ";
            background-color: black;
            position: absolute;
            bottom: -3px;
            left: 0px;
            transition: 150ms ease-in-out;
        }
        &:hover{
            &::before{
                width: 100%;
            }
        }
    }
    &__link{
        text-decoration: none;
        color: black;
        &:focus{
            outline: none;
        }
        &:visited{
            color: black;
        }
    }
}

.top{
    padding-top: 74px;
    &__wrapper{
        display: flex;
    }
    &__title{
        font-family: 'Montserrat', sans-serif;
        font-weight: $bold;
        font-size: 72px;
        margin-top: 65px;
        line-height: 0.95;
        margin-left: -3px;
    }
    &__subtitle{
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 24px;
        margin-top: 15px;
        line-height: 0.9;
        margin-bottom: 40px;
    }
    &__text{
        font-weight: 400;
        line-height: 1.4;
    }
    &__button{
        margin-top: 40px;
        margin-bottom: 80px;
    }
    &__image{
        width: 840px;
        min-width: 840px;
        max-width: 840px;
        margin-left: 77px;
        background-color: $bg-img-color;
        & img{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
}

.title{
    font-family: 'Montserrat', sans-serif;
    font-weight: $bold;
    font-size: 36px;
    line-height: 0.9;
    margin-top: 100px;
    margin-bottom: 24px;
}
.subtitle{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 1.4;
    max-width: 670px;
    margin-bottom: 50px;
}

.services{
    &__items{
        display: flex;
        flex-wrap: wrap;
        margin-left: -8px;
        margin-right: -8px;
    }
}

.service{
    display: flex;
    flex-direction: column;
    width: calc(100%/3 - 16px);
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 30px;
    min-height: 640px;
    border: 1px solid rgba(0, 0, 0, 0.04);
    box-shadow: 0px 4px 30px rgba(207, 207, 207, 0.25);
    border-radius: 2px;
    &__image{
        background-color: $bg-img-color;
        width: 100%;
        height: 421px;
        margin-bottom: 40px;
        & img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__name{
        font-family: 'Montserrat', sans-serif;
        font-weight: $bold;
        font-size: $small-title-size;
        line-height: 0.9;
        margin-bottom: 24px;
    }
    &__text{
        line-height: 1.4;
        margin-bottom: 8px;
    }
    &__description{
        padding: 0px 24px 24px 24px;
    }
}

.advantages{
    &__title{
        margin-top: 80px;
    }
    &__items{
        display: flex;
        flex-wrap: wrap;
        position: relative;
        margin-left: -5px;
        margin-right: -5px;
    }
}

.advantage{
    margin-left: 5px;
    margin-right: 5px;
    width: calc(25% - 10px);
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    &__icon{
        font-size: 60px;
        color: $accent-color;
        margin-bottom: 14px;
    }
    &__text{
        text-align: center;
        max-width: 187px;
        line-height: 1.5;
    }
}

.coaches{
    &__slider{
        width: calc(100% + 32px);
        margin-left: -16px;
        margin-right: -16px;
        overflow: hidden;
        padding-left: 8px;
        padding-right: 8px;
        padding-top: 26px;
        padding-bottom: 60px;
        margin-bottom: 50px;
    }
    & .slick-active{
        & .coach{
            box-shadow: 0px 4px 30px rgba(207, 207, 207, 0.25);
        }
    }
    & .slick-list{
        overflow: visible;
    }
    & .slick-arrow{
        display: block;
        font-size: 0px;
        padding: 0px;
        height: 28px;
        width: 40px;
        border: none;
        background-color: transparent;
        position: relative;
        &::before{
            width: 100%;
            height: 100%;
            background-image: url("./src/assets/img/slick-arrow.svg");
            content: " ";
            position: absolute;
            top: 0px;
            left: 0px;
            pointer-events: none;
        }
    }
    & .slick-prev{
        position: absolute;
        bottom: 0px;
        left: 50%;
        transform-origin: center center;
        transform: translateX(calc(-50% - 75px)) rotate(180deg);
    }
    & .slick-next{
        position: absolute;
        bottom: 0px;
        right: 50%;
        transform: translateX(calc(50% + 75px));
    }
    & .slick-disabled{
        opacity: .3;
    }
    &__slider-wrapper{
        position: relative;
    }
    &__slider-count{
        display: inline-block;
        position: absolute;
        bottom: 5px;
        left: 50%;
        transform: translateX(-50%);
    }
}

.coach{
    display: flex;
    margin-left: 8px;
    margin-right: 8px;
    border: 1px solid rgba(0, 0, 0, 0.04);
    box-sizing: border-box;
    border-radius: 2px;
    transition: 200ms ease-out;
    &__image{
        width: 300px;
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
        background-color: $bg-img-color;
        height: 440px;
        & img{
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;
            border-top-left-radius: 2px;
            border-bottom-left-radius: 2px;
        }
    }
    &__info{
        padding: 43px 33px;
    }
    &__button{
        &--mobile{
            display: none;
        }
    }
    &__number{
        font-size: $text-size;
        font-weight: $bold;
        line-height: 0.9;
        margin-bottom: 8px;
    }
    &__name{
        font-size: $small-title-size;
        font-weight: $bold;
        line-height: 1;
        margin-bottom: 8px;
    }
    &__profession{
        line-height: 1.2;
        font-size: $text-size;
        margin-bottom: 24px;
    }
    &__skill{
        font-size: $text-size;
        margin-bottom: 16px;
        & span{
            opacity: .5;
        }
    }
    &__button{
        margin-top: 50px;
    }
}

.footer{
    background-color: #1f1f1f;
    &__wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__logo{
        color: white;
        margin-top: 30px;
        margin-bottom: 25px;
    }
    &__copyright{
        color: white;
    }
}



.burger-button{
    height: 20px;
    width: 30px;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    display: none;
    &__lines{
        display: flex;
        height: 20px;
        width: 30px;
        align-items: center;
    }
    &__line{
        width: 100%;
        height: 2px;
        background-color: black;
        z-index: 3;
        position: relative;
        transition: 100ms ease;
        &::before{
            position: absolute;
            top: -6px;
            height: 2px;
            width: 100%;
            background-color: black;
            content: " ";
            transition: 100ms ease;
            transform-origin: left top;
        }
        &::after{
            position: absolute;
            bottom: -6px;
            height: 2px;
            width: 100%;
            background-color: black;
            content: " ";
            transition: 100ms ease;
            transform-origin: left bottom;
        }
        &--active{
            width: 0px;
            &::before{
                top: -9px;
                width: 26px;
                transform: rotate(45deg);
            }
            &::after{
                bottom: -9px;
                width: 26px;
                transform: rotate(-45deg);
            }
        }
    }
}

.burger-overlay{
    position: fixed;
    height: 100vh;
    width: 100vw;
    overflow-y: scroll;
    overflow-x: hidden;
    top: -100vh;
    left: 0px;
    background-color: white;
    transition: 300ms ease-in-out;
    z-index: 1;
    border-bottom: 4px solid $accent-color;
    display: flex;
    flex-direction: column;
    padding: 40px 20px;
    &--show{
        top: 0px;
    }
    &__title{
        font-family: 'Montserrat',sans-serif;
        font-weight: $bold;
        font-size: 36px;
        line-height: 0.9;
        margin-bottom: 45px;
    }
    &__button{
        font-weight: 600;
        font-size: 16px;
        background-color: transparent;
        max-width: 162px;
        color: $accent-color;
        border: 2px solid $accent-color;
        border-radius: 3px;
        padding: 11px 39px 10px 39px;
        margin-top: 10px;
    }
    &__back-text{
        color: $accent-color;
        opacity: 0.3;
        font-weight: 900;
        font-size: 250px;
        line-height: 0.9;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vh;
        left: 85%;
        top: -120px;
        transform-origin: left;
        transform: rotate(90deg);
    }
}




@media screen and (max-width: 1336px) {
    .container{
        max-width: 1024px;
    }
    .top{
        &__image{
            margin-left: 60px;
            width: 550px;
            min-width: 550px;
            max-width: 550px;
        }
    }
    .service{
        min-height: 450px;
        &__image{
            height: 320px;
            margin-bottom: 30px;
        }
    }
    .coach{
        &__info{
            padding: 20px;
        }
        &__image{
            width: 220px;
            height: 370px;
        }
    }
}

@media screen and (max-width: 1023px) {
    $text-size: 14px;
    $title-size: 28px;
    $small-title-size: 18px;
    .title{
        font-size: $title-size;
        margin-top: 70px;
        margin-bottom: 16px;
    }
    .subtitle{
        max-width: 600px;
        margin-bottom: 30px;
    }
    body{
        font-size: $text-size;
    }
    .container{
        max-width: 768px;
        padding:0 15px;
    }
    .header{
        &__navigation{
            display: none;
        }
        &__button{
            display: none;
            margin-left: 0px;
            max-width: 100px;
            padding: 6px 10px 5px 10px;
        }
    }
    .top{
        padding-top: 60px;
        &__title{
            font-size: 48px;
            margin-top: 35px;
            margin-left: -2px;
        }
        &__subtitle{
            font-size: $small-title-size;
            margin-top: 10px;
            margin-bottom: 25px;
        }
        &__button{
            margin-top: 25px;
            margin-bottom: 50px;
        }
        &__image{
            margin-left: 30px;
            width: 420px;
            max-width: 420px;
            min-width: 420px;
        }
    }

    .service{
        min-height: 360px;
        &__description{
            padding: 0px 14px 14px 14px;
        }
        &__name{
            font-size: $small-title-size;
            margin-bottom: 18px;
        }
        &__text{
            margin-bottom: 5px;
        }
        &__image{
            height: 228px;
        }
    }

    .burger-button{
        display: flex;
    }

    .navigation{
        font-family: 'Montserrat', sans-serif;
        font-size: 24px;
        font-weight: $bold;
        line-height: 0.9;
        &__list{
            flex-direction: column;
        }
        &__item{
            margin-left: 0px;
            margin-bottom: 35px;
        }
    }

    .advantage{
        &__text{
            font-size: 13px;
            max-width: 152px;
        }
    }

    .coach{
        &__info{
            padding: 30px;
        }
        &__number{
            font-size: $text-size;
        }
        &__name{
            font-size: $small-title-size;
        }
        &__profession{
            font-size: $text-size;
        }
        &__skill{
            font-size: $text-size;
        }
        &__image{
            width: 350px;
            height: 400px;
        }
    }
}

@media screen and (max-width: 768px) {
    $title-size: 24px;
    .title{
        font-size: $title-size;
        margin-top: 60px;
    }
    .top{
        &__wrapper{
            flex-direction: column-reverse;
        }
        &__image{
            width: calc(100% + 30px);
            max-width: calc(100% + 30px);
            min-width: calc(100% + 30px);
            margin-left: -15px;
            & img{
                height: 320px;
            }
        }
        &__text{
            max-width: 600px;
        }
        &__button{
            margin-bottom: 0px;
        }
    }

    .services{
        &__items{
            width: 100%;
            margin: 0px;
        }
    }

    .service{
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
        &__image{
            height: 425px;
        }
    }

    .advantage{
        width: calc(50% - 10px);
        margin-bottom: 30px;
        &__icon{
            font-size: 50px;
            margin-bottom: 8px;
        }
    }

    .coach{
        align-items: center;
        &__info{
            padding: 35px 20px;
            margin-left: auto;
            margin-right: auto;
        }
        &__image{
            width: 200px;
        }
        &__skill{
            display: flex;
            flex-direction: column;
            line-height: 1.4;
        }
    }

    .accent-button{
        padding-left: 25px;
        padding-right: 25px;
    }
    .footer{
        &__logo{
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }
}

@media screen and (max-width: 424px) {
    .top{
        &__image{
            & img{
                height: 275px;
            }
        }
        &__title{
            font-size: 36px;
        }
        &__subtitle{
            font-size: 14px;
            margin-bottom: 18px;
        }
        &__text{
            max-width: 300px;
        }
    }
    .service{
        &__image{
            height: 280px;
        }
    }
    .advantage{
        &__icon{
            font-size: 40px;
        }
    }
    .coaches{
        &__slider{
            padding-left: 6px;
            padding-right: 6px;
            & .slick-dots{
                display: flex;
                justify-content: center;
                margin-top: 15px;
                font-size: 0px;
                & li{
                    & button{
                        border: none;
                        height: 15px;
                        width: 15px;
                        border-radius: 50%;
                        margin-left: 5px;
                        margin-right: 5px;
                        border: 1px solid rgba(0, 0, 0, 0.1);
                        box-sizing: border-box;
                        background-color: transparent;
                    }
                }
                & .slick-active{
                    & button{
                        border: 1px solid transparent;
                        background-color: $accent-color;
                    }
                }
            }
        }
        &__slider-count{
            display: none;
        }
    }
    .coach{
        flex-direction:column;
        margin-left: 6px;
        margin-right: 6px;
        box-shadow: 0px 4px 30px rgba(207, 207, 207, 0.25);
        &__info{
            margin: 0px;
            width: 100%;
            padding: 16px 56px 16px 16px;
        }
        &__image{
            width: 100%;
            height: 300px;
        }
        &__skill{
            font-size:13px;
        }
        &__button{
            margin-top: -35px;
            margin-left: 100%;
            height: 33px;
            width: 33px;
            border-radius: 50%;
            padding: 0px;
            font-size: 15px;
            line-height: 0.9;
            &--mobile{
                display: flex;
                align-items: center;
                justify-content: center;
            }
            &--full{
                display: none;
            }
            & i{
                margin-top: 2px;
                margin-left: 2px;
            }
        }
    }

    .footer{
        &__logo{
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }
}


@media screen and (max-height: 650px) {
    .burger-overlay{
        &__back-text{
            top: -100px;
            font-size: 200px;
        }
    }
}
@media screen and (max-height: 500px) {
    .burger-overlay{
        &__back-text{
            top: -50px;
            font-size: 100px;
        }
    }
}